body
{
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:url('images/rm378-02.jpg');
}

.nav img
{
  width:45px;
}

.toggle img
{
  display:none;
  width:30px;
}

 /* //////////////////////////////////////////////////////////// */
.nav 
{
  background-color:rgb(0, 0, 0);
  color:white;
   display:flex;
   justify-content: space-between;
   padding:0.5em 3.5em;
   align-items: center;
}


.nav ul
{
  display:flex;
  list-style:none;

}

li
{
  border:4px;
  margin-left:3em;
  font-size:1.5rem;
  
}

li a
{
  text-decoration: none;
  color:white;
  
}

@keyframes a1{
  0%   { transform: scale(1.1); }
  25%  {transform: scale(1.2);}
  50%  {transform: scale(1.3);}
  80% {transform: scale(1.4);}
  100%{transform: scale(1.5);}
}

li:hover
{
  border-bottom:2px solid yellow;
  animation-name:a1;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes a2 {
  0%{transform: translateX(3px);}
  40%{transform: translateX(6px);}
  80%{transform: translateX(8px);}
  100%{transform: translateX(10px);}
  
}
.logo
{
  display:flex;
  align-items:center;
}

.logo span
{
  margin-left:0.2em;
  font-size:3rem;
}

.logo span:hover{
  animation-name: a2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.logo img:hover{
  transform: rotateY(180deg);
}


@media screen and (max-width:900px){

  .nav{
    padding:0.2em 0.2em;
  }
  .logo span{
     font-size:2rem;
  }
  .toggle img{
    display:inline;
  }

  .links
  {
    /* display: none; */
    position: absolute;
    top: 4.5em;
    right: 50px;
    text-align: center;
    width:80%;
    margin:auto;
    background-color: rgb(0, 0, 0);
    border-radius:10px;
  }


  ul
  {
    display:flex;
    flex-direction:column;
    padding:0;
  }

  li
  {
    margin:0;
    margin-top:1em;
  }
  li a{
    color:rgb(255, 255, 255);
  }
  
  li:hover{
    border-bottom: 0px;
  }

  li a:hover{
  border-bottom:2px solid yellow;

  }

  .toggle:active
  {
    transform: rotateY(180deg);
  }
  
} 

/* //navbar design end///////////////////////////////// */

.about
{
  
  color:rgb(255, 213, 0);
  padding:1em;
  height:80vh;
}

.about h2
{
  margin:0;
  font-size:7rem;
}

.about p
{
  margin:0;
  font-size:2.7rem;
}

.text
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:flex-start;
   margin-top:6em;
   position:relative;
   z-index:2;
}

.tsi1
{
  width:350px;
  position:absolute;
  right:0px;
  bottom: 180px;
}
.tsi
{
  width:50px;
  margin-left:1em;
}

#boy
{
  width: 246px;
  position: absolute;
  bottom:-700px;
  left: 76em;
}


#laptop
{
  width:600px;
  position: absolute;
  /* top: 300px; */
  left: 3.5em;
  bottom:-625px;
}

.parallax
{
  position:relative;
  display:flex;
  flex-direction: column;

}


.skills
{
  margin-top: 1em;
  /* height:200vh; */
}
.typing3
{
  color:white;
  text-align: center;
  font-size: 3.5rem;
  border-bottom:4px solid rgb(255, 213, 0);
  width:0%;
  margin:1em auto;
}


/* ////////////skill bar///////////////////// */

.skill-section
{
  margin-top:3em;
  width: 900px;
  margin: auto;
}
.skill-bar
{
  /* display:inline-block; */
  width:0%;
  height:1em;
  background-color:rgb(255, 213, 0);
  font-weight:1000;
  border-radius:20px;
  margin-bottom:1em;
  padding:1em;

}


/* /////////projects//////////////////////// */

.project img
{
  width:90%;
}

.projects{
  text-align: center;
  margin:7em 0;
  color:white;
}

.typing4
{
  font-size: 3.5rem;
  border-bottom:4px solid rgb(255, 213, 0);
  width:0%;
  margin:1em auto;
}
.project-section
{
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project
{
  background-color: rgba(128, 128, 128, 0.345);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity:0;
  width:50%;
  margin-bottom:1em;
  border-radius:20px;
 padding-bottom: 1em;;
}

.project h2
{
  padding:0;
  width:20%;
  border-bottom:4px solid rgb(255, 213, 0);

}



/* ///////////////////conatct////////////////////// */
.contact
{
  background-color:rgb(19, 28, 70);
  color:white;

}

.typing5
{
  color:white;
  text-align: center;
  font-size: 3.5rem;
  border-bottom:4px solid rgb(255, 213, 0);
  width:0%;
  margin:0em auto;
  margin-bottom:0.5em;
}

.connect img
{
  width:50px;
  margin:0.5em 1em;
}

.connect img:hover
{
  animation-name:a1;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.creator img
{
  width:60px;
  margin-left:0.5em;
}

.contact
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creator
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:3em;
  margin-bottom:0.5em;
}
